<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CuciKuy"
        tools:targetApi="31">

        <!-- LAUNCHER PERTAMA SAAT APLIKASI DIBUKA -->
        <activity
            android:name=".IntroduceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AKTIVITAS LAIN (tidak perlu intent-filter MAIN/LAUNCHER) -->
        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".HomeActivity" android:exported="true" />
        <activity android:name=".FragmentBeranda" android:exported="true" />
        <activity android:name=".FragmentOrder" android:exported="true" />
        <activity android:name=".FragmentReport" android:exported="true" />
        <activity android:name=".FragmentSetting" android:exported="true" />
        <activity android:name=".TambahOrderanActivity" android:exported="true" />
        <activity android:name=".TambahKontakAktivitas" android:exported="true" />
        <activity android:name=".DetailKontakActivity" android:exported="true" />
        <activity android:name=".PengaturanAkunActivity"/>
        <activity android:name=".PengaturanTokoActivity"/>
        <activity android:name=".PengaturanDurasiActivity"/>
        <activity android:name=".PengaturanLayananActivity"/>
        <activity android:name=".PengaturanParfumActivity"/>
        <activity android:name=".PengaturanDiskonActivity"/>
        <activity android:name=".PengaturanPelangganActivity"/>
        <activity android:name=".PengaturanNotaActivity"/>
        <activity android:name=".TambahDurasi"/>
        <activity android:name=".DurasiAdapater"/>
        <activity android:name=".DurasiData"/>
        <activity android:name=".DurasiItem"/>

        <!-- HAPUS bagian ini karena bukan activity -->
        <!-- <activity android:name=".KontakAdapter" android:exported="true" /> -->
        <!-- <activity android:name=".KontakItem" android:exported="true" /> -->

    </application>
</manifest>
